In [1]:
import pandas as pd
import numpy as np

In [2]:
neg_l1 = pd.read_csv('./Datasets/neg_l1.txt')
neg_l2 = pd.read_csv('./Datasets/neg_l2.txt')
pos_l1 = pd.read_csv('./Datasets/pos_l1.txt')
pos_l2 = pd.read_csv('./Datasets/pos_l2.txt')

In [3]:
pos_l1

                                    data  label
0     UGGUUGUUUUCUCUGACUCCUUGAGUAGAA0000      1
1     UGACUGUGUGGCUCCACUGGCAAGGGCGGU0000      1
2     UAACUAGAGAACUGGUCAGGUCUGAGGUG00000      1
3     UCAAUUGGUUGAGUGUUUGUCUGGCAUUC00000      1
4     UGGAUGUGAGAUAGAUAGGAGAAGGAAGUC0000      1
...                                  ...    ...
1413  UCGUAAUUCAUAGUCUCCUGUGAGACUCGAGG00      1
1414  UCCUGAUAUUUGUAGGACAAGAGGCCCACACU00      1
1415  UGACAGAUGCAUAUUCUGUGCCCUUUUCGCCU00      1
1416  UACAUCCAGAAGAGACCCAAAAGGAGAUGGGCC0      1
1417  UUGAAGGUAGAGAAGGUUACCCCAAAAUGGGUUU      1

[1418 rows x 2 columns]

In [4]:
df_set = [neg_l1, neg_l2, pos_l1, pos_l2]

for df in df_set:
  for i in range(len(df)):
    sequence = df.iloc[i][0]
    one_hot = np.zeros((4,34))
    for index,character in enumerate(sequence):
      if character == 'A':
        one_hot[:,index] = np.array([1., 0., 0., 0.])     
      elif character == 'C':
        one_hot[:,index] = np.array([0., 1., 0., 0.])
      elif character == 'G':
        one_hot[:,index] = np.array([0., 0., 1., 0.])
      elif character == 'U':  
        one_hot[:,index] = np.array([0., 0., 0., 1.])
    df.at[i,'data'] = one_hot.T

In [5]:
pos_l1

                                                   data  label
0     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
2     [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
3     [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
4     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
...                                                 ...    ...
1413  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
1414  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
1415  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1416  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
1417  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1

[1418 rows x 2 columns]

## data_l1

In [6]:
data_l1 = pd.concat([pos_l1, neg_l1])
data_l1

                                                   data  label
0     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
2     [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
3     [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
4     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
...                                                 ...    ...
1413  [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
1414  [[0.0, 1.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
1415  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
1416  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
1417  [[1.0, 0.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0

[2836 rows x 2 columns]

In [7]:
X = data_l1['data']
X

0       [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
1       [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
2       [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
3       [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...
4       [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
                              ...
1413    [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...
1414    [[0.0, 1.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...
1415    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
1416    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
1417    [[1.0, 0.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...
Name: data, Length: 2836, dtype: object

In [8]:
y = data_l1['label']
y

0       1
1       1
2       1
3       1
4       1
       ..
1413    0
1414    0
1415    0
1416    0
1417    0
Name: label, Length: 2836, dtype: int64

### Data spliting to train / dev

In [9]:
from sklearn.model_selection import ShuffleSplit
rs = ShuffleSplit(n_splits=1, test_size=0.1, random_state=0)
rs.get_n_splits(X)

1

In [10]:
for train_index, test_index in rs.split(X):
  print("Train data:", len(train_index)) 
  print("Test data:", len(test_index))

Train data: 2552
Test data: 284

In [11]:
train_df_l1 = data_l1.iloc[train_index]
train_df_l1

                                                   data  label
1417  [[1.0, 0.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
924   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
1354  [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
169   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
454   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
...                                                 ...    ...
763   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
835   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
235   [[0.0, 0.0, 1.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
1189  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
1314  [[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0

[2552 rows x 2 columns]

In [12]:
print('label = 1(Pos) in train: ', len(train_df_l1[train_df_l1['label']==1]))
print('label = 0(Neg) in train: ', len(train_df_l1[train_df_l1['label']==0]))

label = 1(Pos) in train:  1275
label = 0(Neg) in train:  1277

**Testing set**

In [13]:
test_df_l1 = data_l1.iloc[test_index]
test_df_l1.to_pickle("./Datasets/test_df_l1.pkl")
test_df_l1

                                                   data  label
982   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
683   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
195   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
738   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
136   [[0.0, 0.0, 1.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
...                                                 ...    ...
470   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
1146  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
1333  [[0.0, 1.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
661   [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
1043  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1

[284 rows x 2 columns]

In [14]:
print('label = 1(POS) in test: ', len(test_df_l1[test_df_l1['label']==1]))
print('label = 0(NEG) in test: ', len(test_df_l1[test_df_l1['label']==0]))

label = 1(POS) in test:  143
label = 0(NEG) in test:  141

### K-fold

In [15]:
from sklearn.model_selection import StratifiedShuffleSplit
sss = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

In [16]:
X = train_df_l1['data']
X

1417    [[1.0, 0.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...
924     [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...
1354    [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...
169     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...
454     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
                              ...
763     [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
835     [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
235     [[0.0, 0.0, 1.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...
1189    [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...
1314    [[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...
Name: data, Length: 2552, dtype: object

In [17]:
y = train_df_l1['label']
y

1417    0
924     1
1354    0
169     1
454     1
       ..
763     1
835     1
235     0
1189    0
1314    0
Name: label, Length: 2552, dtype: int64

In [18]:
sss.get_n_splits(X, y)

5

In [19]:
train_cv_l1 = {}

for i, (train_index, test_index) in enumerate(sss.split(X, y)):
  train_cv_l1['train'+str(i)] = pd.DataFrame({'data': X.iloc[train_index],'label': y.iloc[train_index]} )
  train_cv_l1['cv'+str(i)] = pd.DataFrame({'data': X.iloc[test_index],'label': y.iloc[test_index]} )
  a = y.iloc[train_index]
  b = y.iloc[test_index]
  print('train:')
  print(train_cv_l1['train'+str(i)])
  print('valid:')
  print(train_cv_l1['cv'+str(i)])
  print('label = 1(POS) in train: ',len(a[a == 1]))
  print('label = 0(NEG) in train: ',len(a[a == 0]))
  print('label = 1(POS) in valid: ',len(b[b == 1]))
  print('label = 0(NEG) in valid: ',len(b[b == 0]))
  print('-'*80)

train:
                                                   data  label
125   [[0.0, 1.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
771   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
881   [[0.0, 1.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
963   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
1043  [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
...                                                 ...    ...
68    [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
1342  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
301   [[0.0, 0.0, 1.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
63    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
41    [[0.0, 0.0, 1.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0

[2041 rows x 2 columns]
valid:
                                                   data  label
389   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
1266  [[0.0, 1.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
147   [[0.0, 1.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
149   [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
941   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
...                                                 ...    ...
1391  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
1021  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
1142  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
771   [[0.0, 0.0, 1.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
281   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1

[511 rows x 2 columns]
label = 1(POS) in train:  1020
label = 0(NEG) in train:  1021
label = 1(POS) in valid:  255
label = 0(NEG) in valid:  256
--------------------------------------------------------------------------------
train:
                                                   data  label
1035  [[1.0, 0.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
1207  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
1044  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1160  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
1065  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
...                                                 ...    ...
581   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1365  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1223  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
129   [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
891   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1

[2041 rows x 2 columns]
valid:
                                                   data  label
922   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
233   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
72    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
177   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
576   [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
...                                                 ...    ...
198   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
1060  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
482   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
342   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
300   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1

[511 rows x 2 columns]
label = 1(POS) in train:  1020
label = 0(NEG) in train:  1021
label = 1(POS) in valid:  255
label = 0(NEG) in valid:  256
--------------------------------------------------------------------------------
train:
                                                   data  label
784   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
623   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
441   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
1242  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
803   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
...                                                 ...    ...
894   [[1.0, 0.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
742   [[0.0, 0.0, 1.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
158   [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
929   [[0.0, 0.0, 1.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
157   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0

[2041 rows x 2 columns]
valid:
                                                   data  label
1381  [[1.0, 0.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
584   [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
475   [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
118   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
1377  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
...                                                 ...    ...
13    [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
500   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
412   [[0.0, 0.0, 1.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
581   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
1078  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1

[511 rows x 2 columns]
label = 1(POS) in train:  1020
label = 0(NEG) in train:  1021
label = 1(POS) in valid:  255
label = 0(NEG) in valid:  256
--------------------------------------------------------------------------------
train:
                                                   data  label
842   [[0.0, 0.0, 1.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
366   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
84    [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
781   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
73    [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
...                                                 ...    ...
1402  [[1.0, 0.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
975   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
280   [[0.0, 0.0, 1.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
1221  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
134   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1

[2041 rows x 2 columns]
valid:
                                                   data  label
62    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
160   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
97    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
1389  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
379   [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
...                                                 ...    ...
776   [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
108   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1074  [[0.0, 0.0, 1.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
322   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
547   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0

[511 rows x 2 columns]
label = 1(POS) in train:  1020
label = 0(NEG) in train:  1021
label = 1(POS) in valid:  255
label = 0(NEG) in valid:  256
--------------------------------------------------------------------------------
train:
                                                   data  label
1264  [[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
1041  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
113   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1411  [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
1098  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
...                                                 ...    ...
333   [[0.0, 0.0, 1.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
1241  [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
369   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1355  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
42    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1

[2041 rows x 2 columns]
valid:
                                                   data  label
423   [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
240   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
1334  [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
323   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
937   [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
...                                                 ...    ...
319   [[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
762   [[1.0, 0.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
1158  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1369  [[0.0, 1.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
99    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1

[511 rows x 2 columns]
label = 1(POS) in train:  1020
label = 0(NEG) in train:  1021
label = 1(POS) in valid:  255
label = 0(NEG) in valid:  256
--------------------------------------------------------------------------------

### save as pickle files

In [20]:
train0_l1 = train_cv_l1['train0']
train0_l1.to_pickle("./Datasets/train0_l1.pkl")
train0_l1

                                                   data  label
125   [[0.0, 1.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
771   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
881   [[0.0, 1.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
963   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
1043  [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
...                                                 ...    ...
68    [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
1342  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
301   [[0.0, 0.0, 1.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      0
63    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
41    [[0.0, 0.0, 1.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0

[2041 rows x 2 columns]

In [21]:
train1_l1 = train_cv_l1['train1']
train1_l1.to_pickle("./Datasets/train1_l1.pkl")

train2_l1 = train_cv_l1['train2']
train2_l1.to_pickle("./Datasets/train2_l1.pkl")

train3_l1 = train_cv_l1['train3']
train3_l1.to_pickle("./Datasets/train3_l1.pkl")

train4_l1 = train_cv_l1['train4']
train4_l1.to_pickle("./Datasets/train4_l1.pkl")

In [22]:
cv0_l1 = train_cv_l1['cv0']
cv0_l1.to_pickle("./Datasets/cv0_l1.pkl")
cv0_l1

                                                   data  label
389   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
1266  [[0.0, 1.0, 0.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
147   [[0.0, 1.0, 0.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
149   [[0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
941   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
...                                                 ...    ...
1391  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
1021  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
1142  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
771   [[0.0, 0.0, 1.0, 0.0], [1.0, 0.0, 0.0, 0.0], [...      0
281   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1

[511 rows x 2 columns]

In [23]:
cv1_l1 = train_cv_l1['cv1']
cv1_l1.to_pickle("./Datasets/cv1_l1.pkl")

cv2_l1 = train_cv_l1['cv2']
cv2_l1.to_pickle("./Datasets/cv2_l1.pkl")

cv3_l1 = train_cv_l1['cv3']
cv3_l1.to_pickle("./Datasets/cv3_l1.pkl")

cv4_l1 = train_cv_l1['cv4']
cv4_l1.to_pickle("./Datasets/cv4_l1.pkl")

## data_l2

In [24]:
data_l2 = pd.concat([pos_l2, neg_l2])
data_l2

                                                  data  label
0    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
2    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
3    [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
4    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
..                                                 ...    ...
704  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
705  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
706  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
707  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
708  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0

[1418 rows x 2 columns]

In [25]:
X = data_l2['data']
X

0      [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
1      [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
2      [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
3      [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...
4      [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
                             ...
704    [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...
705    [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...
706    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
707    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
708    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...
Name: data, Length: 1418, dtype: object

In [26]:
y = data_l2['label']
y

0      1
1      1
2      1
3      1
4      1
      ..
704    0
705    0
706    0
707    0
708    0
Name: label, Length: 1418, dtype: int64

### Data spliting to train / dev

In [27]:
from sklearn.model_selection import ShuffleSplit
rs = ShuffleSplit(n_splits=1, test_size=0.1, random_state=0)
rs.get_n_splits(X)

1

In [28]:
for train_index, test_index in rs.split(X):
  print("Train data:", len(train_index)) 
  print("Test data:", len(test_index))

Train data: 1276
Test data: 142

In [29]:
train_df_l2 = data_l2.iloc[train_index]
train_df_l2

                                                  data  label
211  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
459  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
602  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
465  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
19   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
..                                                 ...    ...
54   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
126  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
507  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
559  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
684  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1

[1276 rows x 2 columns]

In [30]:
print('label = 1(Pos) in train: ', len(train_df_l2[train_df_l2['label']==1]))
print('label = 0(Neg) in train: ', len(train_df_l2[train_df_l2['label']==0]))

label = 1(Pos) in train:  640
label = 0(Neg) in train:  636

**Testing set**

In [31]:
test_df_l2 = data_l2.iloc[test_index]
test_df_l2.to_pickle("./Datasets/test_df_l2.pkl")
test_df_l2

                                                  data  label
431  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
610  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
86   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
529  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
519  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
..                                                 ...    ...
386  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
184  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
640  [[0.0, 0.0, 1.0, 0.0], [0.0, 1.0, 0.0, 0.0], [...      0
319  [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0], [...      1
172  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0

[142 rows x 2 columns]

In [32]:
print('label = 1(POS) in test: ', len(test_df_l2[test_df_l2['label']==1]))
print('label = 0(NEG) in test: ', len(test_df_l2[test_df_l2['label']==0]))

label = 1(POS) in test:  69
label = 0(NEG) in test:  73

### K-fold

In [33]:
from sklearn.model_selection import StratifiedShuffleSplit
sss = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

In [34]:
X = train_df_l2['data']
X

211    [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...
459    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
602    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
465    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...
19     [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...
                             ...
54     [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
126    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
507    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...
559    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
684    [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...
Name: data, Length: 1276, dtype: object

In [35]:
y = train_df_l2['label']
y

211    1
459    1
602    0
465    1
19     1
      ..
54     0
126    0
507    0
559    1
684    1
Name: label, Length: 1276, dtype: int64

In [36]:
sss.get_n_splits(X, y)

5

In [37]:
train_cv_l2 = {}

for i, (train_index, test_index) in enumerate(sss.split(X, y)):
  train_cv_l2['train'+str(i)] = pd.DataFrame({'data': X.iloc[train_index],'label': y.iloc[train_index]} )
  train_cv_l2['cv'+str(i)] = pd.DataFrame({'data': X.iloc[test_index],'label': y.iloc[test_index]} )
  a = y.iloc[train_index]
  b = y.iloc[test_index]
  print('train:')
  print(train_cv_l2['train'+str(i)])
  print('valid:')
  print(train_cv_l2['cv'+str(i)])
  print('label = 1(POS) in train: ',len(a[a == 1]))
  print('label = 0(NEG) in train: ',len(a[a == 0]))
  print('label = 1(POS) in valid: ',len(b[b == 1]))
  print('label = 0(NEG) in valid: ',len(b[b == 0]))
  print('-'*80)

train:
                                                  data  label
406  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
482  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
287  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
55   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
320  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
..                                                 ...    ...
172  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
545  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
412  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
372  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0

[1020 rows x 2 columns]
valid:
                                                  data  label
144  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
692  [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
190  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
468  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
610  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
..                                                 ...    ...
426  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
616  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
139  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
16   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
193  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1

[256 rows x 2 columns]
label = 1(POS) in train:  512
label = 0(NEG) in train:  508
label = 1(POS) in valid:  128
label = 0(NEG) in valid:  128
--------------------------------------------------------------------------------
train:
                                                  data  label
322  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
631  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
57   [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
79   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
189  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
..                                                 ...    ...
385  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
684  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
449  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
428  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
196  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0

[1020 rows x 2 columns]
valid:
                                                  data  label
69   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
15   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
476  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
262  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
555  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
..                                                 ...    ...
545  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
40   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
302  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
512  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
512  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1

[256 rows x 2 columns]
label = 1(POS) in train:  512
label = 0(NEG) in train:  508
label = 1(POS) in valid:  128
label = 0(NEG) in valid:  128
--------------------------------------------------------------------------------
train:
                                                  data  label
680  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
359  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
671  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
149  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
34   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
..                                                 ...    ...
172  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
320  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
179  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
374  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
306  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0

[1020 rows x 2 columns]
valid:
                                                  data  label
517  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
638  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
618  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
253  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
607  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
..                                                 ...    ...
182  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
306  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
236  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
488  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
380  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1

[256 rows x 2 columns]
label = 1(POS) in train:  512
label = 0(NEG) in train:  508
label = 1(POS) in valid:  128
label = 0(NEG) in valid:  128
--------------------------------------------------------------------------------
train:
                                                  data  label
400  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
613  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
181  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
240  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
299  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
..                                                 ...    ...
577  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
185  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
634  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
222  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
403  [[0.0, 0.0, 1.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0

[1020 rows x 2 columns]
valid:
                                                  data  label
601  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
683  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
535  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
25   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
692  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
..                                                 ...    ...
390  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
212  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
103  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
221  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0
199  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0

[256 rows x 2 columns]
label = 1(POS) in train:  512
label = 0(NEG) in train:  508
label = 1(POS) in valid:  128
label = 0(NEG) in valid:  128
--------------------------------------------------------------------------------
train:
                                                  data  label
289  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
685  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
338  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
559  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
670  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
..                                                 ...    ...
638  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
590  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
332  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
380  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
684  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0

[1020 rows x 2 columns]
valid:
                                                  data  label
426  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
124  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
217  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
630  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
0    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
..                                                 ...    ...
204  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
481  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
166  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
400  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
655  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0

[256 rows x 2 columns]
label = 1(POS) in train:  512
label = 0(NEG) in train:  508
label = 1(POS) in valid:  128
label = 0(NEG) in valid:  128
--------------------------------------------------------------------------------

### save as pickle files

In [38]:
train0_l2 = train_cv_l2['train0']
train0_l2.to_pickle("./Datasets/train0_l2.pkl")
train0_l2

                                                  data  label
406  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      1
482  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
287  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1
55   [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
320  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
..                                                 ...    ...
172  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
545  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
1    [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 0.0, 1.0], [...      0
412  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
372  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      0

[1020 rows x 2 columns]

In [39]:
train1_l2 = train_cv_l2['train1']
train1_l2.to_pickle("./Datasets/train1_l2.pkl")

train2_l2 = train_cv_l2['train2']
train2_l2.to_pickle("./Datasets/train2_l2.pkl")

train3_l2 = train_cv_l2['train3']
train3_l2.to_pickle("./Datasets/train3_l2.pkl")

train4_l2 = train_cv_l2['train4']
train4_l2.to_pickle("./Datasets/train4_l2.pkl")

In [40]:
cv0_l2 = train_cv_l2['cv0']
cv0_l2.to_pickle("./Datasets/cv0_l2.pkl")
cv0_l2

                                                  data  label
144  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
692  [[1.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0], [...      0
190  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
468  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
610  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      0
..                                                 ...    ...
426  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
616  [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      0
139  [[0.0, 0.0, 0.0, 1.0], [1.0, 0.0, 0.0, 0.0], [...      1
16   [[0.0, 0.0, 0.0, 1.0], [0.0, 0.0, 1.0, 0.0], [...      1
193  [[0.0, 0.0, 0.0, 1.0], [0.0, 1.0, 0.0, 0.0], [...      1

[256 rows x 2 columns]

In [41]:
cv1_l2 = train_cv_l2['cv1']
cv1_l2.to_pickle("./Datasets/cv1_l2.pkl")

cv2_l2 = train_cv_l2['cv2']
cv2_l2.to_pickle("./Datasets/cv2_l2.pkl")

cv3_l2 = train_cv_l2['cv3']
cv3_l2.to_pickle("./Datasets/cv3_l2.pkl")

cv4_l2 = train_cv_l2['cv4']
cv4_l2.to_pickle("./Datasets/cv4_l2.pkl")